---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroNah</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
		<h1>About Astro 101</h1>
    <h2>Description about astro 101</h2>
    <p>using file as a site path</p>
	</body>
</html>
